language: ruby
cache: bundler

services:
  - redis-server

gemfile:
  - gemfiles/sidekiq_2.gemfile
  - gemfiles/sidekiq_3.gemfile
  - gemfiles/sidekiq_4.gemfile
  - gemfiles/sidekiq_5.gemfile
  - gemfiles/sidekiq_6.gemfile

rvm:
  - 2.6.8
  - 2.7.4
  - 3.0.2

notifications:
  email: false
